<div class="ui basic modal">
    <div class="ui icon header">
      <i class="cancel icon"></i>
      Access denied !
    </div>
    <div class="content" style = "text-align: center;">
      <p>You don't have the right to enter in this section. Please contact your superiour and ask more rights to enter here.</p>
    </div>
    <div class="actions" style = "text-align: center;">
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Ok
      </div>
    </div>
</div>