<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/error.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/images/icon.png" type="image/icon type">

</head>
<body>
    


  <div class="ui basic modal">
    <div class="ui icon header">
      <i class="cancel icon"></i>
      <h1>Error</h1>
    </div>
    <div class="content" style = "text-align: center;">
      <h2>You've tried to connect to the server without authentification. Please sign in to continue. If you don't have an account, please register.</h2>
    </div>
    <div class="actions" style = "text-align: center;">
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Ok
      </div>
    </div>
</div>
</body>
</html>